doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://cdn.sencha.com/ext/gpl/4.2.0/resources/css/ext-all-gray-debug.css')
    script(src='/javascripts/libs//ext-all-dev.js')
    script(src='/javascripts/app.js')

  body
    block content
    
