doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/ext-all-gray-debug.css')
    script(src='/javascripts/ext-all-debug-w-comments.js')
    script(src='/javascripts/app.js')

  body
    block content
    
